.bg-color {
    background-color: rgba(247, 247, 247, 0.575);
}

.jc-center {
    display: flex;
    justify-content: center !important;
}

.bg-yellow {
    background-color: rgba(255, 212, 19, 0.801) !important;
}

.titulo-empadas {
    font-size: 35px;
    color: rgb(255, 136, 0);
    font-weight: 700;
}

.padding-nav-bar {
    padding: 10px;
}

.titulo-topicos {
    font-size: 22px;
    color: rgb(255, 136, 0);
    font-weight: 700;
}

.f-color {
    color:rgb(255, 136, 0) !important;
}

.f-weight * {
    font-weight: 600 !important;
}

.card-style {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.24) !important;
    border-radius: 0px !important;
    border: none !important;
    padding: 20px !important;
}

.card-mg {
    width: 65vw;
    min-width: 300px !important;
}

.card-img {
    width: 300px !important;
    border-radius: 0px !important;
}

.espacamento {
    padding-bottom: 23px;
}

.espacamento-table {
    margin-bottom: 60px !important;
}

.thead-style {
    font-weight: 400 !important;
}

.table-orange {
    --bs-table-bg: rgba(255, 212, 19, 0.801);
}

.img-size {
    width: 150px !important;
    border-radius: 100% !important;
}

.espacamento-contatos {
    display: flex;
    justify-content: center;
    gap: 190px;
}

.mg-top {
    margin-top: 50px;
}

.jc-time {
    display: flex;
    flex-direction: column;
    align-items: center;
}